div#caixa
{
    background-color: darkred;
    display: block;
    height: 500px;
    width: 350px;
    margin-left: 150px;
}
div #tela
{
    background-color: white;
    height: 250px;
    width: 300px;
    
    margin-left: 25px;
    
    margin-top: 23px;
    position: absolute;
}
div #teclado
{
    background-color: darkgray;
    height: 200px;
    width:300px ;
    margin-left: 25px;
    margin-top: 280px;
    position: absolute;
}
div .teclas
{
    width: 70px;
    height: 45px;
    margin: 1px 1px;
}